<div class="container-fluid">
    <h1>Bootcamp Enrollment Form</h1>

    <form #userForm="ngForm">

        {{userForm.value | json}}
        {{userModel | json}}
        <div class="form-group">
            <label>Name</label>
            <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched"  class="form-control" name="userName" [(ngModel)]="userModel.name">
            <small class="text-danger" [class.d-none]="name.valid || name.untouched"> Name is required</small> 
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required [class.is-invalid]="email.invalid && email.touched" class="form-control" name="email" [(ngModel)]="userModel.email">

            <div *ngIf="email.errors && (email.invalid || email.touched)">
                <small class="text-danger" *ngIf="email.errors?.['required']">Email is required</small>
                <small class="text-danger" *ngIf="email.errors?.['pattern']">Email must have @, and domain name</small>
            </div>
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input type="tel" #phone="ngModel" pattern="^\d{10}$" required [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="phone" [(ngModel)]="userModel.phone">
            <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required and must be 10 digits</small> -->
            <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
                <small class="text-danger" *ngIf="phone.errors?.['required']">Phone number is required</small>
                <small class="text-danger" *ngIf="phone.errors?.['pattern']">Phone number must be of 10 digits</small>
            </div>
        </div>

        <div class="form-group">
            <select class="custom-select" name="topic" [(ngModel)]="userModel.topic">
                <option selected>I am interested in</option>
                <option *ngFor="let topic of topics">{{topic}}</option>
            </select>
        </div>

        <div class="mb-3">
            <label>Time Preference</label>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="timePreference" value="morning" [(ngModel)]="userModel.timePreference">
                <label class="form-check-lable">Morning (9AM - 12PM)</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="timePreference" value="evening" [(ngModel)]="userModel.timePreference">
                <label class="form-check-lable">Evening (5PM - 8PM)</label>
            </div>
        </div>

        <div class="form-check mb-3">
            <input type="checkbox" class="form-check-input" name="subscribe" [(ngModel)]="userModel.subscribe">
            <label class="form-check-label"> Send me promotional offers</label>
        </div>



        <button class="btn btn-primary" type="submit"> Submit form</button>
    </form>
</div>